/*----------------COMIENZO FOOTER----------------*/
.grid-container{
    .footer{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        background-color: map-get($palette, dark);
        height: auto;
        padding: 20px 0px;
        grid-area: footer;
        &__redes{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin-left: 100px;
            width: 20%;
            height: auto;
        }
    }
}
/*----------------FIN FOOTER----------------*/