/*----------------COMIENZO INDEX----------------*/

.main-index{
    & &__info{
        & .tituloPrincipal{
            @include mainTitle;
        }
        display: grid;
        grid-template-areas: 
        "titulo     titulo"
        "biografia  musica";
        grid-template-rows: auto auto;
        grid-template-columns: 40% auto;
        padding: 25px;
        & h2{
            text-align: center;
        }
        & .main-index__biografia{
            grid-area: biografia;
            width: auto;
            text-align: center;           
            font-family: 'Skranji', cursive;
            font-size: 27px;
            a{
                text-decoration: none;
                color: map-get($palette, secundary);
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    }
    & &__musica{
        grid-area: musica;

        .subtitulo{
            @include subtitle;
        }
    }
}

/*----------------FIN INDEX----------------*/