/* ----------------MEDIA QUERIES---------------- */
@media (min-width:320px) and (max-width:767px){

.imagenPrincipal{ 
    height: 35vh;
    background-size: cover;
    background-position: 40% 50%;
}

    /*-------------------COMIENZO FOOTER-------------------*/
    .grid-container{
        .footer{
            h4{
                padding-left: 10px;
            }
            &__redes{
                margin: 0;
                img{
                    width: 90%;
                    height: auto;
                }
            }
        }
    } 
    /*-------------------FIN FOOTER-------------------*/

    /*-------------------COMIENZO INDEX-------------------*/
    .main-index{
        & &__info{
            .tituloPrincipal{
                @include mainTitle;
                font-size: 50px;
            }
            grid-template-areas:
            "titulo"
            "biografia"
            "musica";
            grid-template-columns: 100%;
            grid-template-rows: auto auto auto;
            & .main-index__biografia{
                width: auto;
                padding: 0;
            }
            & .main-index__musica{
                .subtitulo{
                    @include subtitle;
                    font-size: 50px;
                    margin-left: 10px;
                }
            }
        }
    }
    /*-------------------FIN INDEX-------------------*/

    /*-------------------COMIENZO NOSOTROS-------------------*/
    .main-nosotros{
        .tituloPrincipal{
            @include mainTitle;
            font-size: 42px;
        }
        & &__miembros{
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-bottom: 45px;
            h2{
                font-size: 30px;
                padding: 20px 10px;
                border-radius: 40%;
                margin-bottom: 5px;
            }
        }
    }
    /*-------------------FIN NOSOTROS-------------------*/

    /*-------------------COMIENZO GALERÍA-------------------*/
    .main-galeria{
        .tituloPrincipal{
            font-size: 45px;
        }
        .subtitulo{
            font-size: 58px;
            margin-left: 20px;
        }
        & &__galV{
            & .main-galeria__videos{
                grid-template-columns: 100%;
                grid-template-rows: repeat(6,auto);
                iframe{
                    width: 90%;
                    height: 45vh;
                }
            }
        }
    }
    /*-------------------FIN GALERÍA-------------------*/

    /*-------------------COMIENZO PROX-FECHAS-------------------*/
    .main-proxfechas{
        .tituloPrincipal{
            @include mainTitle;
            font-size: 60px;
        }
        & &__fechas{
            grid-template-areas: 
            "subtitulo"
            "flyer"
            "flyer"
            "parrafo"
            "ubicacion"
            "boton";
            margin-right: 20px;
            & h3{
                font-size: 30px;
                width: 100%;
                text-align: center;
            }
            & img{
                width: 76vw;
                justify-self: center;
            }
            & .informacion{
                justify-content: center;
                align-items: center;
                & p{
                    font-size: 25px;
                    padding-top: 5px;
                    text-align: center;
                }
                & span{
                    display: inline;
                }
            }
            & .ubicacion{
                padding: 0px;   
                width: 100%;
                max-width: 321px;
                margin: 0 auto;
                & .btn_ubicacion{
                    display: block;
                    font-family: 'Permanent Marker', cursive;
                    display: flex;
                    flex-direction: row;
                    justify-content: flex-start;
                    align-items: center;
                    font-size: 25px;
                    text-decoration: none;
                    color: map-get($palette, secundary);
                    & img{
                        height: 100%;
                        width: auto;
                        margin-bottom: 16px;
                    }
                }
                & iframe{
                    display: none;
                }
            }
            & .btn_entrada{
                margin: 0;
                width: 100%;
                width: 100%;
                max-width: 321px;
                margin: 0 auto;
            }

        }
    }
    /*-------------------FIN PROX-FECHAS-------------------*/

    /*-------------------COMIENZO CONTACTO-------------------*/
    .main-contacto{
        h1{
            font-size: 50px;
        }
        & &__formulario{
            form{
                grid-template-areas: 
                "subtitulo"
                "nombre"
                "email"
                "opciones"
                "campoArea"
                "campoArea"
                "boton";
                grid-template-columns: 100%;
                justify-items: center;
                padding: 0px;
                row-gap: 20px;
                h2{
                    font-size: 30px;
                    letter-spacing: 1px;
                    span{
                        font-size: 20px;
                    }
                }
                .button{
                    flex-direction: row;
                    justify-content: center;
                    width: 100%;
                    input{
                        font-size: 20px;
                        padding: 7px;
                        margin-right: 7px;
                    }
                }
            }
        }
    }
    /*-------------------FIN CONTACTO-------------------*/
}

/*-------------- COMIENZO GALERIA DE FOTOS-------------- */
@media (min-width:700px){
    .main-galeria{
        & &__galF{
            & .main-galeria__fotos{
                .tall{
                    grid-row: span 2;
                }
                .wide{
                    grid-column: span 2;
                }
                .giant{
                    grid-column: span 2;
                    grid-row: span 2;
                }.no-small{
                    display: block;
                }
            }
        }
    }
}
/*-------------- FIN GALERIA DE FOTOS-------------- */

@media (min-width:768px) and (max-width:1024px){

    /*-------------------COMIENZO INDEX-------------------*/
    .grid-container{
        main{
            .imagenPrincipal{
                height: 40vh;
            }
        }
    }
    .main-index{
        & &__info{
            grid-template-areas:
            "titulo"
            "biografia"
            "musica";
            grid-template-columns: 100%;
            grid-template-rows: auto auto auto;
            flex-direction: column;
            margin: 15px;
            & .main-index__biografia{
                width: auto;
                padding: 0;
            }
        }
    }
    /*-------------------FIN INDEX-------------------*/

    /*-------------------COMIENZO NOSOTROS-------------------*/
    .main-nosotros{
        & &__miembros{
            h2{
                font-size: 40px;
                padding: 70px 10px;
            }
        }
        & &__miembros--reverse{
            img{
                margin-right: 0px;
                margin-left: 10px;
            }
        }  
    }
    /*-------------------FIN NOSOTROS-------------------*/

    /*-------------------COMIENZO GALERÍA-------------------*/
    .main-galeria{
        iframe{
            height: auto;
        }
    }
    /*-------------------FIN GALERÍA-------------------*/

    /*-------------------COMIENZO PROX-FECHAS-------------------*/
    .main-proxfechas{
        & &__fechas{
            grid-template-areas: 
            "subtitulo  subtitulo"
            "flyer      ubicacion"
            "flyer      ubicacion"
            "parrafo    boton";
            grid-template-columns: 1fr 1fr;
            & img{
                width: 80%;
                height: auto;
            }
            & .informacion{
                & p{
                    font-size: 25px;
                    margin: 0px;
                }
                & span{
                    display: inline;
                }
            } 
            & .btn_entrada{
                align-self: center;
            }
        }
    }
    /*-------------------FIN PROXFECHAS-------------------*/

    /*-------------------COMIENZO CONTACTO-------------------*/
    .main-contacto{
        & &__formulario{
            form{
                h2{
                    font-size: 30px;
                    letter-spacing: 1px;
                    margin-right: 20px;
                    span{
                        font-size: 20px;
                    }
                }
            }
        }
    }
    /*-------------------FIN CONTACTO-------------------*/
}

@media (min-width:990px) and (max-width:1200px){
    .grid-container{
        & header{
            & span{
                display: none;
            }
        }
    }

}