/*----------------COMIENZO NOSOTROS----------------*/
.main-nosotros{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .tituloPrincipal{
        @include mainTitle;
        margin: 20px 0px;
    }
    & &__miembros{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 100%;
        margin-bottom: 30px;
        h2{
            font-family: 'Permanent Marker', cursive;
            font-size: 60px;
            letter-spacing: 3px;
            color: white;
            padding: 70px 20px;
            background-color: map-get($palette, dark);
            border-radius: 50%;
            text-align: center;
            animation: fondoRedondo 1s linear 0s 1;
        }
        span{
            font-style: italic;
            font-family: 'Oregano', cursive;
            display: block;
        }
        .foto{
            animation: imgNosotros 1s linear 0s 1;
            border: 4px white solid;
            position: relative;
            a{
                .ig{
                    position: absolute;
                    left: 0;
                    bottom: 0;
                    border: {
                        top-right-radius: 20%;
                        top: 3px white solid;
                        right: 3px white solid;
                    }
                }
            }
            
        }
        
    }
    & &__miembros--reverse{
        @extend .main-nosotros__miembros;
        flex-direction: row-reverse;
        .foto{
            a{
                .ig{
                    left: 195px;
                    border: {
                        top-right-radius: 0;
                        top-left-radius: 20%;
                        top: 3px white solid;
                        left: 3px white solid;
                    }
                }
            }
        }
    }
}
/*----------------FIN NOSOTROS----------------*/