/*----------------COMIENZO PROX-FECHAS----------------*/
.main-proxfechas{
    .tituloPrincipal{
        @include mainTitle;
        margin-top: 20px;
    }
    & &__fechas{
        display: grid;
        grid-template-areas: 
        "subtitulo  subtitulo   subtitulo"
        "flyer      parrafo     ubicacion"
        "flyer      parrafo     ubicacion"
        "flyer      boton       ubicacion";
        grid-template-rows: auto auto auto auto;
        grid-template-columns: auto auto 1fr;
        margin-bottom: 50px;
        margin-left: 20px;  
        h3{
            grid-area: subtitulo;
            font-family: 'Permanent Marker', cursive;
            font-size: 38px;
            letter-spacing: 3px;
            margin: 10px 0px;
        }
        img{
            grid-area: flyer;
            width: 27vw;
            height: auto;
        }
        .informacion{
            grid-area: parrafo;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            text-align: left;
            font-style: italic;
            font-family: 'Permanent Marker', cursive;
            line-height: 40px;
            font-size: 30px; 
            letter-spacing: 3px; 
            padding: 0px 10px;
            & span{
                display: block;
            }
            & div{
                display: flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                & img{
                    width: auto;
                    height: 100%;
                }
                & p{
                    margin: 0px;
                }
            }
        }
        & .ubicacion{
            grid-area: ubicacion;
            padding-right: 20px;
            & .btn_ubicacion{           
                display: none; 
            }
            & iframe{
                width: 100%;
                height: 100%;
            }
        }
        & .btn_entrada{
            grid-area: boton;
            background-color: map-get($palette, primary);
            color: map-get($palette, dark);
            font-family: 'Bebas Neue', cursive;
            letter-spacing: 3px;
            text-align: center;
            align-self: start;
            justify-self: left;
            margin-top: 10px;
            margin-left: 30px;
            padding: 10px 10px;
            width: auto;
            height: auto;
            text-decoration: none;
            & p{
                margin: 0;
                padding: 0px 20px;
                display: inline;
            }
            & img{
                height: 100%;
                width: auto;
                transform: rotate(15deg); 
            }
            & .icon_a_hover{
                display: none;
            }
            &:hover{
                background-color: map-get($palette, dark);
                color: map-get($palette, secundary);
                animation: bordeBoton .5s linear 0s 1;
                border: map-get($palette, secundary) 3px solid;
                & .icon_a_hover{
                    display: inline-block;
                    background-color: map-get($palette, secundary);
                }
                & .icon_a{
                    display: none;
                }
            }

        }
    }
}
/*----------------FIN PROX-FECHAS----------------*/